@-moz-keyframes slide{
	0%{left: -100%;}
	100%{left: 0%;}
}
@-webkit-keyframes slide{
	0%{left: -100%;}
	100%{left: 0%;}
}
a{
	text-decoration: none;
	color: black;
}
.box{
	width: 300px;
	height: 120px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.list{
	list-style: none;
	z-index: 1;	
}
.index{
	position: relative;
	top: 80px;
	right: -200px;
	z-index: 2;
}
.index a{
	display: inline-block;
	width: 20px;height: 20px;
	margin-left: .5em;
	background-color: lightgray;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background-color: rgba(255,255,255,.5);
	}
.slide{
	width: 300px;
	height: 100px;
	position: absolute;
	left: 0;
	top:0;
	width: 300px;
	height: 120px;
	z-index: 1;
}
#fir{background-color: #ccc}
#sec{background-color: lightblue}
#thr{background-color: pink}
.slide{vertical-align: bottom;}
.list li:target{
	z-index: 2;
	-moz-animation: slide 2s forwards;
	-webkit-animation: slide 2s forwards;
}
